<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bold.Licensing" version="5.2.28" targetFramework="net472" />
  <package id="BoldReports.WPF" version="5.2.28" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="Syncfusion.Chart.WPF.Classic" version="20.2.0.36" targetFramework="net472" />
  <package id="Syncfusion.Compression.Base" version="20.2.0.36" targetFramework="net472" />
  <package id="Syncfusion.DocIO.Wpf" version="20.2.0.36" targetFramework="net472" />
  <package id="Syncfusion.Gauge.WPF" version="20.2.0.36" targetFramework="net472" />
  <package id="Syncfusion.Grid.WPF" version="20.2.0.36" targetFramework="net472" />
  <package id="Syncfusion.GridCommon.Wpf" version="20.2.0.36" targetFramework="net472" />
  <package id="Syncfusion.Licensing" version="20.2.0.36" targetFramework="net472" />
  <package id="Syncfusion.Linq.Base" version="20.2.0.36" targetFramework="net472" />
  <package id="Syncfusion.OfficeChart.Base" version="20.2.0.36" targetFramework="net472" />
  <package id="Syncfusion.Pdf.Wpf" version="20.2.0.36" targetFramework="net472" />
  <package id="Syncfusion.Presentation.Wpf" version="20.2.0.36" targetFramework="net472" />
  <package id="Syncfusion.SfMaps.WPF" version="20.2.0.36" targetFramework="net472" />
  <package id="Syncfusion.Shared.WPF" version="20.2.0.36" targetFramework="net472" />
  <package id="Syncfusion.Shared.WPF.Classic" version="20.2.0.36" targetFramework="net472" />
  <package id="Syncfusion.XlsIO.Wpf" version="20.2.0.36" targetFramework="net472" />
</packages>